@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars for elements with the `no-scrollbar` class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
